body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top:50px ;
}

h1{
    font-size: 2.5rem;
}

button{
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 8px;
}