.boxModel{
    background-color: beige;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 20px;
    border: 5px solid rgb(56, 3, 3);
    border-radius: 10px;
    margin: 10px;
}